{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}
<div class="container" >

  <h3>{{ template.name }}</h3>
  <div class="row">
      <div class="col-7">
          <img id='main_template' data-slug="{{ template.slug }}" class="img-fluid" src="{{ template.image.url }}"/>
       </div>
       <div class="col-3">
           {% include "create_og.html" with form=og_form %}
       </div>
  </div>
  <hr/>
  <div class="container" >
    <div class="d-flex flex-wrap">

    {% for meme in recent_memes %}
        {% include "memes/_card.html" %}
    {% endfor %}

    </div>
  </div>

</div>
{% endblock %}
